<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>点餐</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="lib/font-awesome-4.7.0/css/font-awesome.min.css"/>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
			}
			#appa{
				width: 100%;
				height: 100%;
			}
			.el-header{
				padding: 0;
			}
			.el-main{
				padding: 0;
				position: fixed;
				top: 40px;
				bottom: 40.4px;
				width: 100%;
			}
			.el-footer{
				padding: 0;
				position: fixed;
				bottom: 0;
				width: 100%;
				/*height: 40px;*/
			}
			  .el-table .warning-row {
                background: oldlace;
              }
            
              .el-table .success-row {
                background: #f0f9eb;
              }
            #zongbiao{
            	position: fixed;
            	top: 0;
            	bottom: 0;
            	width: 100%;
            	z-index: 100;
            	background: rgba(0,0,0,.35);
            }
            #zongbiao #biao{
            	position: absolute;
            	top: 50px;
            	left: 10%;
            	width: 80%;
            	background: #F0F0F0;
            	padding: 0 auto;
				text-align:center;
            	border-radius: 5px;
            }
            #zongbiao #biao table{
            	margin: 0 auto;
            }
            .cell{
            	text-align:center
            }
		</style>
	</head>
	<body>
		<div id="app">	
			<el-container>
              <el-header style="height: 40px;">
                <el-button-group style="width: 100%;">
                  <el-button style="width: 20%;" type="primary" @click="goBack" icon="el-icon-arrow-left"></el-button>
                  <el-button style="width: 60%;" type="primary" icon="el-icon-time">早点点餐</el-button>
                  <el-button style="width: 20%;" type="primary" @click="qingkong" icon="el-icon-delete"></el-button>
                </el-button-group>
              </el-header>
              <el-main>
                <template>
                	<el-table
                      :data="menu"
                      height="100%"
                      style="width: 100%"
                      :row-class-name="tableRowClassName">
                      <el-table-column
                        prop="name"
                        label="食品名">
                      </el-table-column>
                      <el-table-column
                      	width="80%"
                        label="单价">
                        <template slot-scope="scope">
                        	<i class="fa fa-jpy" aria-hidden="true">{{scope.row.Price}}元</i>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="数量">
                        <template slot-scope="scope">
                        	<center>
                          <!--<span style="margin-left: 10px">{{ scope.row.date }}</span>-->
                          <el-button size="mini" v-if="scope.row.num==0" @click="scope.row.num=1" type="primary" icon="el-icon-success"></el-button>
                          <template v-if="scope.row.num>0">
                            <el-input-number style="width: 97px;" size="mini" v-model="scope.row.num" :min="0" :max="100" label="订购数量"></el-input-number>
                          </template>
                          </center>
                        </template>
                      </el-table-column>
                    </el-table>
                </template>
              </el-main>
              
              <el-footer style="height: 40.4px;">
              	<el-button-group style="width: 100%;">
                  <el-button style="width: 45%;padding: 5.2px;" type="primary">
                  	<!--<el-input size="mini" v-model="canbiao" placeholder="餐标"></el-input>-->
                  	总餐标:
                  	<el-input-number style="width: 97px;" size="mini" v-model="canbiao" :step="15"></el-input-number>
                  </el-button>
                  <el-button :type="canbiao<zongjia?'danger':zongjia==canbiao?'success':'primary'" style="width: 40%;" icon="el-icon-edit">
                  	占用餐标:{{zongjia}}
                  </el-button>
                  <el-button style="width: 15%;" type="primary" @click="zongbiao=!zongbiao" icon="el-icon-goods"></el-button>
                </el-button-group>
              </el-footer>
            </el-container>
            <div id="zongbiao" v-if="zongbiao">
            	<i style="font-size:32px;margin: 10px;" class="el-icon-error" @click="zongbiao=!zongbiao"></i>
            	<div id="biao">
            		<table>
            			<tr><th colspan="2">早餐</th></tr>
            			<tr v-for="a in menu" v-if="a.num!=0">
            				<td>{{a.name}}</td>
            				<td><i class="el-icon-goods"></i>{{a.num+a.comp}}</td>
            			</tr>
            			<tr><th colspan="2">总价：{{zongjia}}</th></tr>
            		</table>
            	</div>
            </div>
		</div>
	</body>
	<!-- 先引入 Vue -->
	<script src="lib/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script type="text/javascript">
	var vm=new Vue({
      el: '#app',
      data: function() {
        return { 
        	zongbiao:false,
        	canbiao: 180,
        	zongjia: 0,
        	menu:[
        	{num:0,name:'白糖饼',comp:'个',type:'主食',Price:2,stock:-1},
        	{num:0,name:'素包',comp:'个',type:'主食',Price:1,stock:-1},
        	{num:0,name:'牛肉包',comp:'个',type:'主食',Price:1,stock:-1},
        	{num:5,name:'猪肉包',comp:'个',type:'主食',Price:1,stock:-1},
        	{num:0,name:'紫薯豆沙包',comp:'个',type:'主食',Price:2,stock:-1},
        	{num:0,name:'黄金葡萄发糕',comp:'个',type:'主食',Price:3,stock:-1},
        	{num:0,name:'蒸饺(6个/份)',comp:'份',type:'主食',Price:5,stock:-1},
        	{num:6,name:'麻团',comp:'个',type:'主食',Price:2,stock:-1},
        	{num:5,name:'油条',comp:'根',type:'主食',Price:1,stock:-1},
        	{num:0,name:'油饼',comp:'个',type:'主食',Price:1.5,stock:-1},
        	{num:0,name:'糖油饼',comp:'个',type:'主食',Price:2.5,stock:-1},
        	{num:3,name:'手抓饼',comp:'份',type:'主食',Price:3,stock:-1},
        	{num:4,name:'煎饼',comp:'份(两份不要葱花、香菜)',type:'主食',Price:6,stock:-1},
        	{num:2,name:'土豆丝饼',comp:'份',type:'主食',Price:3,stock:-1},
        	{num:0,name:'韭菜鸡蛋馅饼',comp:'个',type:'主食',Price:2,stock:-1},
        	{num:7,name:'猪肉白菜馅饼',comp:'个',type:'主食',Price:3,stock:-1},
        	{num:3,name:'单加蛋',comp:'份',type:'主食',Price:3,stock:-1},
        	{num:0,name:'单加肠',comp:'份',type:'主食',Price:3,stock:-1},
        	{num:0,name:'双加',comp:'份',type:'主食',Price:4,stock:-1},
        	{num:0,name:'五香饼',comp:'个',type:'主食',Price:2,stock:-1},
        	{num:0,name:'白鸡蛋',comp:'个',type:'辅食',Price:1,stock:-1},
        	{num:4,name:'茶叶蛋',comp:'个',type:'辅食',Price:1.5,stock:-1},
        	{num:0,name:'煎鸡蛋',comp:'个',type:'辅食',Price:1.5,stock:-1},
        	{num:1,name:'咸鸭蛋',comp:'个',type:'辅食',Price:3,stock:-1},
        	{num:9,name:'烤肠',comp:'根',type:'辅食',Price:3,stock:-1},
        	{num:2,name:'腐乳',comp:'份',type:'辅食',Price:0.5,stock:-1},
        	{num:4,name:'咸菜',comp:'份',type:'辅食',Price:0.5,stock:-1},
        	{num:4,name:'混沌',comp:'份',type:'汤类',Price:3,stock:-1},
        	{num:4,name:'豆腐脑',comp:'份',type:'汤类',Price:2.5,stock:-1},
        	{num:4,name:'紫米粥',comp:'份',type:'汤类',Price:2,stock:-1},
        	{num:0,name:'小米粥',comp:'份',type:'汤类',Price:1,stock:-1},
        	{num:0,name:'南瓜粥',comp:'份',type:'汤类',Price:2,stock:-1},
        	{num:0,name:'花生粥',comp:'份',type:'汤类',Price:2,stock:-1},
        	{num:0,name:'疙瘩汤',comp:'份',type:'汤类',Price:1.5,stock:-1},
        	{num:4,name:'豆浆',comp:'份',type:'汤类',Price:1,stock:-1},
        	{num:0,name:'黑豆浆',comp:'份',type:'汤类',Price:2.5,stock:-1},
        	{num:0,name:'大袋三元牛奶',comp:'袋',type:'汤类',Price:4,stock:-1},
        	{num:0,name:'三元特品纯牛奶',comp:'袋',type:'汤类',Price:3,stock:-1},
        	{num:0,name:'小袋三元牛奶',comp:'袋',type:'汤类',Price:2.5,stock:-1}
//      	{num:0,name:'',type:'',Price:1,stock:-1},
//      	{num:0,name:'',type:'',Price:1,stock:-1}
        	]
        }
      },
      methods: {
        tableRowClassName({row, rowIndex}) {
//        console.log(row.type)
          this.zongjia2()
          if (row.type === '汤类') {
            return 'warning-row';
          } else if (row.type === '辅食') {
            return 'success-row';
          }
          return '';
          
        },
		goBack() {
        	console.log('返回');
			window.history.back(-1);
		},
        zongjia2(){
        	var zong=0;
        	for(var i=0;i < this.menu.length;i++){
//      		console.log(this.menu[i].num,this.menu[i].Price,zong)
        		zong = this.menu[i].num*this.menu[i].Price+zong;
        	}
        	this.zongjia = zong
        },
        qingkong(){
        	for(var i=0;i < this.menu.length;i++){
        		this.menu[i].num = 0;
        	}
        }
      }
    })
	
	</script>
</html>
