/* @keyframes rotate{
    0%{
        transform:rotateX(200deg) rotateY(200deg);
    }
    100%{
        transform:rotateX(200deg) rotateY(200deg);
    }
} */
html{
    /*background: linear-gradient(#ff0 0%, #000 80%);*/
    height: 100%;
}
.wrap{
    margin-top: 150px;
    perspective:1000px;
}
.cube{
    margin:auto;
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d; /* flat */
    transform:rotateX(0deg) rotateY(0deg);                      /*****************look******************/
    /* animation:rotate 20s infinite linear; */
}
.cube > div{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #333;
    opacity: .7;
    border:1px #fff solid;
    color: #fff;
    font-size: 36px;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    text-align: center;
    /*line-height: 200px;*/
    transition: transform .2s ease-in;
}
.cube .out-front{
    transform: translateZ(150px);
}
.cube .out-back{
    transform: translateZ(-150px) rotateY(180deg);
}
.cube .out-left{
    transform:rotateY(-90deg) translateZ(150px);
}
.cube .out-right{
    transform:rotateY(90deg) translateZ(150px);
}
.cube .out-top{
    transform:rotateX(90deg) translateZ(150px);
}
.cube .out-bottom{
    transform:rotateX(-90deg) translateZ(150px);
}
.cube > span{
    display: block;
    width: 100px;
    height: 100px;
    border:1px #000 solid;
    background-color: #999;
    position: absolute;
    top: 100px;
    left: 100px;
}
.cube .in-front{
    transform: translateZ(50px);
}
.cube .in-back{
    transform: translateZ(-50px) rotateY(180deg);
}
.cube .in-left{
    transform:rotateY(90deg) translateZ(50px);
}
.cube .in-right{
    transform:rotateY(-90deg) translateZ(50px);
}
.cube .in-top{
    transform:rotateX(90deg) translateZ(50px);
}
.cube .in-bottom{
    transform:rotateX(-90deg) translateZ(50px);
}
.a {
    height: 94px;
    width: 94px;
    border: medium inset #666666;
    position: absolute;
}
.a1 {
    left: 0px;
    top: 0px;
}
.a2 {
    left: 100px;
    top: 0px;
}
.a3 {
    left: 200px;
    top: 0px;
}
.a4 {
    left: 0px;
    top: 100px;
}
.a5 {
    left: 100px;
    top: 100px;
}
.a6 {
    left: 200px;
    top: 100px;
}
.a7 {
    left: 0px;
    top: 200px;
}
.a8 {
    left: 100px;
    top: 200px;
}
.a9 {
    left: 200px;
    top: 200px;
}
/*.n1{background-color:#FF0000}
.n2{background-color:#0000FF}
.n3{background-color:#00FF00}
.n4{background-color:#FFFF00}
.n5{background-color:#CCCCCC}
.n0{background-color:#FF6600}*/
/*魔方运动按钮*/
.AN{

    filter:alpha(Opacity=0);-moz-opacity:0.0;opacity: 0.0;
    height: 50%;
    width: 50%;
    position: absolute;
}
.AN:hover{filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.AN:active{filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;}
.AN1 {
    left: 0px;
    top: 0px;
}
.AN2 {
    right: 0px;
    top: 0px;
}
.AN3 {
    left: 0px;
    bottom: 0px;
}
.AN4 {
    right: 0px;
    bottom: 0px;
}
.AN5 {
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
/*视觉方向控制手柄*/
#lookhand {
    background-image: url(../JPG/t.png);
    height: 128px;
    width: 128px;
    position: absolute;
    left: 30px;
    bottom: 10px;
}
.lo{
    filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;
}
.lo:hover{filter:alpha(Opacity=30);-moz-opacity:0.3;opacity: 0.3;}
.lo:active{filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;}

.lo0{
    height: 44px;
    width: 44px;
    top: 42px;
    position: absolute;
    right: 42px;
}
.lo1{
    height: 42px;
    width: 44px;
    left: 42px;
    top: 0px;
    position: absolute;
}
.lo2{
    height: 44px;
    width: 42px;
    top: 43px;
    position: absolute;
    right: 0px;
}
.lo3{
    height: 42px;
    width: 44px;
    left: 42px;
    position: absolute;
    bottom: 0px;
}
.lo4{
    height: 42px;
    width: 44px;
    top: 43px;
    position: absolute;
    left: 0px;
}
.lo5{
    height: 50px;
    width: 50px;
    z-index: 0;
    top: -15px;
    line-height:50px;
    color: #fff;
    padding-left:10px;
    position: absolute;
    background: url("../JPG/er.png") no-repeat;
}
.l{
    left: -15px;
}
.r{
    right: -25px;
}