.n1{
    background-color:#FF0000;
    -webkit-animation:m1 30s infinite linear ;
}
.n2{
    background-color:#0000FF;
    -webkit-animation:m2 30s infinite linear ;
}
.n3{
    background-color:#00FF00;
    -webkit-animation:m3 30s infinite linear ;
}
.n4{
    background-color:#FFFF00;
    -webkit-animation:m4 30s infinite linear ;
}
.n5{
    background-color:#CCCCCC;
    -webkit-animation:m5 30s infinite linear ;
}
.n0{
    background-color:#FF6600;
    -webkit-animation:m0 30s infinite linear ;
}

@-webkit-keyframes m1 {
    00%{ background-color:#FF0000}
    15%{ background-color:#0000FF}
    30%{ background-color:#00FF00}
    45%{ background-color:#FFFF00}
    60%{ background-color:#CCCCCC}
    75%{ background-color:#FF6600}
    90%{ background-color:#FF0000}
}
@-webkit-keyframes m2 {
    00%{ background-color:#0000FF}
    15%{ background-color:#00FF00}
    30%{ background-color:#FFFF00}
    45%{ background-color:#CCCCCC}
    60%{ background-color:#FF6600}
    75%{ background-color:#FF0000}
    90%{ background-color:#0000FF}
}
@-webkit-keyframes m3 {
    00%{ background-color:#00FF00}
    15%{ background-color:#FFFF00}
    30%{ background-color:#CCCCCC}
    45%{ background-color:#FF6600}
    60%{ background-color:#FF0000}
    75%{ background-color:#0000FF}
    90%{ background-color:#00FF00}
}
@-webkit-keyframes m4 {
    00%{ background-color:#FFFF00}
    15%{ background-color:#CCCCCC}
    30%{ background-color:#FF6600}
    45%{ background-color:#FF0000}
    60%{ background-color:#0000FF}
    75%{ background-color:#00FF00}
    90%{ background-color:#FFFF00}
}
@-webkit-keyframes m5 {
    00%{ background-color:#CCCCCC}
    15%{ background-color:#FF6600}
    30%{ background-color:#FF0000}
    45%{ background-color:#0000FF}
    60%{ background-color:#00FF00}
    75%{ background-color:#FFFF00}
    90%{ background-color:#CCCCCC}
}
@-webkit-keyframes m0 {
    00%{ background-color:#FF6600}
    15%{ background-color:#FF0000}
    30%{ background-color:#0000FF}
    45%{ background-color:#00FF00}
    60%{ background-color:#FFFF00}
    75%{ background-color:#CCCCCC}
    90%{ background-color:#FF6600}
}